.header{
	background: $off_black; 
	padding:1rem; 
}

//BEM block element identifier
.header__title{
	font-size:2.6rem;
	color:white;
}
.header__subtitle{	
	font-size:$s_size;
	font-weight:400;
	color:white;
}